sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '10'
before_install:
  - npm i -g npm@^6.4.1
before_script:
  - npm prune
  - npm i -g babel-cli
script:
  - npm i
  - npm run build
  - npm run test
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
